Repository eokoneyo/eokoneyo.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, prettier --write, prettier --plugin=@prettier/plugin-ruby --write

.lintstagedrc.json:

{
  "assets/**/*.{js,ts}": "eslint --cache --fix --max-warnings 0",
  "assets/**/*.{js,ts,css,scss,md}": "prettier --write",
  "_plugins/*.rb": "prettier --plugin=@prettier/plugin-ruby --write"
}

fix Gemfile.lock
  Gemfile.lock
Due: none

fix typo in workflow action
  .github/workflows/package-website.yml
Due: none

update work experience
  _pages/about/index.html
Due: none

fix logic for setting project item class name
  _includes/landing.html
Due: none

style anchors
  assets/_scss/base/_globals.scss
Due: prettier --write

improve page styles
  _includes/head.html
  _layouts/project-post.html
  assets/_scss/base/_grid.scss
  assets/_scss/base/_typography.scss
  assets/_scss/components/_code_highlighter.scss
  assets/_scss/components/_image_zoom.scss
  assets/_scss/components/_project-tile.scss
  assets/_scss/mixins/_decorated_horizontal_divider.scss
  assets/_scss/pages/_project_post_page.scss
  assets/_scss/styles.scss
Due: prettier --write

improve preloader interaction
  _includes/preloader-screen.html
Due: none

update all packages to lastest version
  package.json
  yarn.lock
Due: none

fix change how mixin for setting font-face works
  assets/_scss/base/_typography.scss
Due: prettier --write

fix issue with webpack config
  webpack.config.js
Due: none

update jest config to match expectations of new version
  jest.json
  package.json
  yarn.lock
Due: none

update shiki package
  _plugins/kramdown-syntax-shiki.rb
  package.json
  yarn.lock
Due: prettier --plugin=@prettier/plugin-ruby --write

add twoslash package to deps
  package.json
  yarn.lock
Due: none

integrate twoslash with shiki
  _config.yml
  _plugins/kramdown-syntax-shiki.rb
Due: prettier --plugin=@prettier/plugin-ruby --write

Update index.html
  _pages/about/index.html
Due: none

improve playlist page visuals
  _layouts/default.html
  _pages/playlists/index.html
  assets/_scripts/client/playlists.ts
  assets/_scss/_variables.scss
  assets/_scss/pages/_playlists.scss
Due: eslint --cache --fix --max-warnings 0, prettier --write

lint
  _config.yml
  webpack.config.js
Due: none

change padding for code block
  assets/_scss/components/_code_highlighter.scss
Due: prettier --write

different direction for projects page
  assets/_scss/pages/_projects_page.scss
Due: prettier --write

update social link
  _data/setup.yml
Due: none

switch to DM mono font
  assets/_scss/base/_typography.scss
  assets/_scss/components/_code_highlighter.scss
  assets/_scss/pages/_posts_page.scss
  package.json
  yarn.lock
Due: prettier --write

link contribution subtlely
  _data/contributions.yml
  _pages/about/index.html
Due: none

improvements to shikijs implmentation
  _plugins/kramdown-syntax-shiki.rb
  assets/_scss/components/_code_highlighter.scss
  package.json
  yarn.lock
Due: prettier --write, prettier --plugin=@prettier/plugin-ruby --write

fix missing deps issue with rmagick
  .github/workflows/package-website.yml
  .gitignore
  .tool-versions
Due: none

update packages
  package.json
  yarn.lock
Due: none

improve shiki implementation to fetch missing types in code to be highlighted
  .gitignore
  _config.yml
  _plugins/kramdown-syntax-shiki.rb
  assets/_ata/.gitkeep
  package.json
  tsconfig.json
Due: prettier --plugin=@prettier/plugin-ruby --write

add react types for shiki support
  package.json
Due: none

add actual post
  _posts/2025-08-03-ssr-for-ant-design-styles-with-react-streaming-api.md
Due: none

improve rendering styles
  _config.yml
  assets/_scss/components/_code_highlighter.scss
  assets/_scss/layouts/_default.scss
  assets/_scss/styles.scss
Due: prettier --write

fix comment typo
  _posts/2025-08-03-ssr-for-ant-design-styles-with-react-streaming-api.md
Due: none

fix overflow issue with twoslash on mobile
  assets/_scss/layouts/_default.scss
Due: prettier --write

upgrade sass and start new @use pattern adoption
  assets/_scss/_variables.scss
  assets/_scss/base/_globals.scss
  assets/_scss/base/_grid-bg.scss
  assets/_scss/base/_grid.scss
  assets/_scss/base/_typography.scss
  assets/_scss/components/_article_preview.scss
  assets/_scss/components/_code_highlighter.scss
  assets/_scss/components/_footer.scss
  assets/_scss/components/_image_zoom.scss
  assets/_scss/components/_nav.scss
  assets/_scss/components/_paginator.scss
  assets/_scss/components/_project-tile.scss
  assets/_scss/layouts/_default.scss
  assets/_scss/mixins/_decorated_horizontal_divider.scss
  assets/_scss/mixins/_parallax.scss
  assets/_scss/pages/_about.scss
  assets/_scss/pages/_landing_page.scss
  assets/_scss/pages/_playlists.scss
  assets/_scss/pages/_posts_page.scss
  assets/_scss/pages/_project_post_page.scss
  assets/_scss/pages/_projects_page.scss
  assets/_scss/styles.scss
  assets/_scss/utils/_mq_config.scss
  package.json
  yarn.lock
Due: prettier --write

lean even more into new @use paradigm
  assets/_scss/_variables.scss
  assets/_scss/base/_globals.scss
  assets/_scss/base/_grid-bg.scss
  assets/_scss/base/_grid.scss
  assets/_scss/base/_typography.scss
  assets/_scss/components/_article_preview.scss
  assets/_scss/components/_code_highlighter.scss
  assets/_scss/components/_footer.scss
  assets/_scss/components/_image_zoom.scss
  assets/_scss/components/_nav.scss
  assets/_scss/components/_paginator.scss
  assets/_scss/components/_project-tile.scss
  assets/_scss/config/_modularscale.scss
  assets/_scss/config/_mq.scss
  assets/_scss/layouts/_default.scss
  assets/_scss/mixins/_decorated_horizontal_divider.scss
  assets/_scss/mixins/_parallax.scss
  assets/_scss/pages/_about.scss
  assets/_scss/pages/_landing_page.scss
  assets/_scss/pages/_playlists.scss
  assets/_scss/pages/_posts_page.scss
  assets/_scss/pages/_project_post_page.scss
  assets/_scss/pages/_projects_page.scss
  assets/_scss/styles.scss
  assets/_scss/utils/_fibonacci.scss
  assets/_scss/utils/_mq_config.scss
Due: prettier --write

fix deprecated patterns
  assets/_scss/base/_globals.scss
  assets/_scss/base/_grid-bg.scss
  assets/_scss/base/_typography.scss
  assets/_scss/components/_project-tile.scss
  assets/_scss/config/_modularscale.scss
  assets/_scss/pages/_landing_page.scss
  assets/_scss/pages/_playlists.scss
  assets/_scss/pages/_project_post_page.scss
  assets/_scss/styles.scss
Due: prettier --write

add standard meta tag
  _includes/head.html
  assets/favicon/site.webmanifest
Due: none

prevent payload.json from being included in build
  _config.yml
Due: none

update project dependencies
  .eslintrc.cjs
  assets/_scripts/client/image-zoom.ts
  assets/_scripts/client/preloader.ts
  package.json
  webpack.config.cjs
  yarn.lock
Due: eslint --cache --fix --max-warnings 0, prettier --write

use import in test
  assets/_scripts/__tests__/client/index.test.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

fix type issue
  assets/_scripts/gia.d.ts
  assets/_scripts/sw/offline-handler.ts
Due: eslint --cache --fix --max-warnings 0, prettier --write

update about page
  _pages/about/index.html
Due: none
